.Scoreboard {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 1%;
    width: 40%;
    float: left;
    border-radius: 10px;
    background-color: rgb(21, 39, 51);
}

.fix-height {
    height: 80%;
}



.v1 {
    margin-top: 10%;
    margin-left: 90%;
    border-left: 2px solid gray;
    height: 40%;

}

.manrope-font {
    font-family: 'Manrope';
    line-height: 70%;
    color: white;

}

.manrope-font2 {
    font-family: 'Manrope';
    line-height: 70%;
 
    color:  rgb(21, 39, 51);
}

.large-font {
    font-size: xx-large;
}
.xx-large-font {
    font-size: 40px;
}
.x-large-font
{
    font-size: x-large;
}
.button-scorecard {
    
    margin-top: 6%;
}

.small-font {
    font-size: x-large;
}

.extra-small-font {
    font-size: large;
}

.sallmon-color {
    font-family: 'Manrope';
    line-height: 70%;
    color: lightsalmon
}